@media (min-width: 768px) {
  .h-w-header {
    height: calc(100% - 4rem);
  }

  .w-w-aside {
    width: calc(100% - 33.333333%);
  }
}

.grid {
  grid-template-columns: repeat(attr(data-size), 1fr);
}
