<header class="h-16 bg-gray-100 w-full md:fixed top-0 left-0 flex justify-center items-center">
  <h1 class="text-xl font-bold text-gray-900">Pixel Viewer</h1>
</header>
<main>
  <aside class="md:block md:fixed top-16 left-0 w-full md:w-1/3 h-w-header bg-gray-100">
    <section class="border-gray-200 border-t-4 p-10">
        <h2 class="text-lg font-bold mb-5 text-gray-900">Code Selection</h2>
        <div class="mb-5 flex flex-row">
          <div class="w-1/3"><label for="style">Style</label></div>
          <div class="w-2/3">
            <select name="style" id="style" [(ngModel)]="style" class="w-full bg-transparent border-0 border-black border-b" (ngModelChange)="_updateImage()">
              <option value="style-1">Style 1</option>
              <option value="style-2">Style 2</option>
            </select>
          </div>
        </div>

        <div class="mb-5 flex flex-row">
          <div class="w-1/3"><label for="complexity">Complexity</label></div>
          <div class="w-2/3">
            <select name="complexity" id="complexity" [(ngModel)]="complexity" class="w-full bg-transparent border-0 border-black border-b" (ngModelChange)="_updateImage()">
              <option value="low">Low</option>
              <option value="medium">Medium</option>
              <option value="high">High</option>
            </select>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="w-1/3"><label for="size">Size</label></div>
          <div class="w-2/3">
            <select name="style" id="size" [(ngModel)]="size" class="w-full bg-transparent border-0 border-black border-b" (ngModelChange)="_updateImage()">
              <option value="small">Small</option>
              <option value="medium">Medium</option>
              <option value="large">Large</option>
            </select>
          </div>
        </div>
    </section>

    <section class="border-gray-200 border-t-4 p-10">
      <h2 class="text-lg font-bold mb-5 text-gray-900">View Options</h2>
      <div class="flex flex-row">
        <div class="w-1/3"><label for="size">Pixel Size</label></div>
        <div class="w-2/3 flex flex-row">
          <div class="w-5/6">
            <input type="range" min="5" step="5" max="100" [(ngModel)]="pixelSize" class="text-gray-900" id="size" class="w-full" (ngModelChange)="_updateImage()">
          </div>
          <div class="w-1/6 text-right text-sm">
            {{ pixelSize }}
          </div>
        </div>
      </div>
    </section>
  </aside>

  <section class="min-h-screen md:fixed top-16 right-0 md:w-full h-w-header w-w-aside bg-gray-200 flex content-center items-center justify-center">
    <div class="grid" [ngClass]="widthClass" [style.width]="getPixelSizeClass()" [style.height]="getPixelSizeClass()" [style.grid-template-columns]="generateGridColumns()">
      <div *ngFor="let data of pixelData" [style.background-color]="generateColor(data)" class="w-full h-full"></div>
    </div>
  </section>
</main>
